<div class="row container height-100">
  <div class="container-left col-6 height-100 flex-center-column">
    <img
      class="container-left-image"
      src="../../assets/images/forgot_password/logoThinkDiff.png"
      alt=""
    />
  </div>
  <div class="container-right col-6 height-100 flex-center-column">
    <div class="form-recover-password width-55">
      <div class="mg-bottom-25">
        <h3 class="form-header">Sign up</h3>
        <p class="form-desc mg-bottom-20">
          Create your account to use wonderful resources.
        </p>
      </div>

      <form class="form-body">
        <div class="form-item mg-bottom-20">
          <label for="">Full name</label>
          <div class="form-item-input mg-top-10">
            <input type="text" value="Dat Bui" />
            <img src="../../assets/images/login/close.png" alt="" />
          </div>
        </div>
        <div class="form-item mg-bottom-20">
          <label for="">Email</label>
          <div class="form-item-input mg-top-10">
            <input type="text" value="dat.bui@netpower.no" />
            <img src="../../assets/images/login/close.png" alt="" />
          </div>
        </div>
        <div class="form-item mg-bottom-20">
          <label for="">Password</label>
          <div class="form-item-input mg-top-10">
            <input type="text" value="******" />
            <img src="../../assets/images/icon/hide_icon.png" alt="" />
          </div>
        </div>
        <div class="form-item mg-bottom-20">
          <label for="">Confirm password</label>
          <div class="form-item-input mg-top-10">
            <input type="text" value="******" />
            <img src="../../assets/images/icon/hide_icon.png" alt="" />
          </div>
        </div>

        <button class="button-emphase form-button">Cannot access?</button>
        <button class="button-enabled-large mg-bottom-25 mg-top-37">
          <span>Sign up</span>
        </button>
        <div class="form-item">
          <input type="checkbox" name="" id="" />
          <span>I agree with terms and conditions</span>
        </div>

        <button class="button-focused-large mg-bottom-25 mg-top-37">
          <span>Sign in</span>
        </button>
        <p class="fs-14 text-align-center">
          You forgot password?
          <button class="button-emphase">Recover password</button>
        </p>
      </form>
    </div>
  </div>
</div>
